hr {
    border: none;
    border-top: 2px solid #eee;
    margin: 0 0;
}

.hero {
    width: 100%;
    height: 968px;
    background: url('../images/frame1.png') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-bg);
}

.hero__title {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-medium);
    font-size: 18px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    opacity: 0.85;

}

.hero__subtitle {
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-normal);
    font-size: 60px;
    line-height: 75px;
    text-transform: uppercase;
}

.hero__since {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-medium);
    font-size: 18px;
    opacity: 0.85;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

.about {
   position: relative;
    width: 100%; 
    padding: 0 10%; 
    margin: 100px auto 50px auto;
    display: flex;
    gap: 40px;
    box-sizing: border-box;
}

.about__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.about__title {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.51;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #9D9480;
    opacity: 0.85;
}

.about__subtitle {
    font-family: 'Libre Bodoni', serif;
    font-weight: 400;
    font-size: 46px;
    line-height: 1.15;
    text-transform: capitalize;
    color: var(--color-primary);
    margin-top: 0;
}

.about__right {
    flex: 1;
}

.about__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 31px;
    color: var(--color-primary);
}



.favorites-section {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.favorites-section h2 {
    font-family: var(--font-secondary);
    font-size: 46px;
    font-weight: 400;
    line-height: 1.15;
    color: var(--color-primary);
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 0;
    text-transform: capitalize;
}

.empty-msg {
    text-align: center;
    grid-column: 1 / -1; 
    color: #888;
    font-style: italic;
}


#favorites-container .gallery__image {
    transition: transform 0.3s ease;
    height: 150px;
    object-fit: contain;
}


.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, min-minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.photo-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.photo-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.favorite-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  max-width: 100%;
  margin: 0 auto;
  padding: 0px;
}

.gallery__column {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  flex: 0 0 calc((100% - 16px) / 3);
}
.gallery__figure {
  margin: 0;
}
.gallery__item {
  position: relative;
  overflow: hidden;
}

.gallery__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.gallery__caption {
  padding: 0 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  padding: 1.5em;
  background: rgba(0, 0, 0, 0.45);
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  display: none;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-medium);
  font-size: 1em;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-top: 50em;
}

.gallery__name{
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  text-transform: uppercase;
  color: var(--color-bg);
  text-align: center;
  font-size: 1em;
  letter-spacing: 0.08em;
}

.gallery__column-center .gallery__item:nth-child(2) .gallery__caption {
    display: block;
}

.btn-container {
    text-align: center;
    margin-top: 0; 
}

.btn {
    background: none;
    border: none;
    padding: 0;
    outline: none;
    appearance: none;
    position: relative;
    display: inline-block;
    font-family: var(--font-primary);
    font-weight: var(--font-weight-medium);
    font-size: 15px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: var(--color-primary);
    padding-bottom: 5px;
    margin-top: 50px; 
    margin-bottom: 50px;
    cursor: pointer;
}

.btn-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #D2CCBF;
    display: block;
}

.projects {
    background-color: var(--color-light);
    padding-top: 0;
}


.project_left{
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto; 
    max-width: 338px;      
}
.project_tit{
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.51;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #9D9480;
    opacity: 0.85;
    text-align: left;
}

.projects__title {
    font-family: var(--font-secondary);
    font-size: 46px;
    margin-bottom: 0px;
    color: var(--color-primary);
    text-align: left;
    margin-top: 0;
}

.projects__slider-wrapper {
    position: relative;
    width: 100%;
    height: 968px;
    overflow: hidden;
    background-color: var(--color-light);
}

.projects__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: opacity 0.8s ease-in-out; 
}

.projects__item.active {
    opacity: 1;
    visibility: visible;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: rgba(255, 255, 255, 0.05); 
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 32px;
    padding: 15px 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.slider-btn:hover {
   
    background: rgba(255, 255, 255, 0.15);
    transform: translateY(-50%) scale(1.05); 
}

.slider-btn.prev { 
    
    left: 0; 
    border-radius: 0 4px 4px 0; 
}

.slider-btn.next { 
    right: 0; 
    border-radius: 4px 0 0 4px; 
}


.projects__figure {
    margin: 0;
}

.projects__image {
    width: 100%;
    display: block;
}

.projects__caption {
   padding: 50px 0;
}

.projects__name {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    background: url('../images/frame3.png') center/cover no-repeat;
    color: var(--color-bg);
    width: 100%;
    height: 968px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 52px;
    letter-spacing: 0.12em;
    margin: 0;
    line-height: 1;
    box-sizing: border-box;
    
}

.listed {
    width: 100%;
    padding: 50px 10%; 
    box-sizing: border-box;
    background-color: var(--color-light);
}

.listed__list {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.listed__item {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-normal);
    font-size: 35px;
    color: var(--color-secondary);
    margin: 0; 
}

@media (max-width: 600px){

    .hero{
        height: 500px;
    }

    .hero__subtitle{
        font-size: 32px;
        line-height: 40px;
    }    

    .about{
        flex-direction: column;
        padding: 0 20px; 
        gap: 20px;
    }

    .gallery__name{
    font-size: 16px;
    }

    .about__subtitle{
        font-size: 28px;
    }

    .projects__name{
        height: 400px;
        font-size: 28px;
    }

    .listed {
        padding: 30px 20px;
    }
        
    .listed__list {
        justify-content: center; 
        gap: 15px;
    }
        
    .listed__item {
    font-size: 20px;
    }

    .projects__slider-wrapper {
        height: 400px; 
        position: relative;
    }

    .slider-btn {
        font-size: 28px;
        padding: 10px 5px;
        background: rgba(0, 0, 0, 0.2);
        border-color: rgba(255, 255, 255, 0.2);
    }

    .slider-btn.prev {
        left: 0;
        border-radius: 0 4px 4px 0;
    }

    .slider-btn.next {
        right: 0;
        border-radius: 4px 0 0 4px;
    }

    .projects__name {
        font-size: 24px;
        padding: 0 40px;
    }

}